*.class
*.com
*.dll
*.dx64fsl
*.exe
!chromedriver.exe
!IEDriverServer.exe
!phantomjs.exe
*.fasl
*.iml
*.ipr
*.iws
*.lisp~
*.lock
*.mode1v3
*.mode2v3
*.moved-aside
*~.nib
*.o
*.pbxuser
*.perspectivev3
*.pyc
*.so
*.swp
*.Trashes
*.xccheckout
*.xfasl
*.log
.DS_Store
.classpath
.clover/
.idea/*
.project
.settings/
.svn/
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
bin/
build/
compiled/
gen/
node_modules/
out/
target/
local.properties
target/maven*
xcuserdata
DerivedData/
.nide
Icon
.gradle/
gradlew*
libs/*.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/*.png
output.json
/temp
*CucumberTest.java
*CucumberTestRunner.java
*.csv